@import '../../../../../../../theme/variables.scss';

:host {
  .places-contact-info {
    margin-bottom: 28px;
  }

  .place-text-header {
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: $color-heading-text;
  }

  .place-text-paragraph {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: $color-heading-note-text;
  }

  .place-text-icon {
    color: $color-heading-note-text;
    font-size: 20px;
  }

  .website-label {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7e8ef7 !important;
  }

  .reserve-button {
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;

    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 18px;
    --padding-end: 18px;
    height: 34px;
  }
}
