:host {
  ion-slides {
    --bullet-background: #91cacb;
    --bullet-background-active: #0a9fa3;
    --progress-bar-background-active: #0a9fa3;
  }

  .places-card-image {
    width: 100%;
    height: 230px;
    object-fit: cover;

    &::part(image) {
      width: 100%;
      height: 230px;
    }
  }
}
