<ion-card>
    <ion-item lines="none" class="trail-card-header">
        <ion-label class="trail-card-header-label">
            <h2>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
            <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
    <ion-skeleton-text animated style="width: 100%; height: 230px; margin-top: 0"></ion-skeleton-text>
    <ion-item class="trail-user-item" lines="none">
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h2>
            <p>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
    <div class="ion-padding-start">
        <ng-container *ngFor="let item of [0,1,2]">
            <ion-item class="trail-places-item">
                <ion-thumbnail slot="start" style="width: 74px;height: 74px;">
                    <ion-skeleton-text animated style="border-radius: 14px; width: 74px;height: 74px;">
                    </ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ng-container>
    </div>
    <ion-item class="trail-user-item" lines="none">
        <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
            <h2>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
            <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-item>
</ion-card>