<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms of Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">TRAILSTEPS TERMS AND CONDITIONS</h1>
  <h3 class="ion-text-left">1. Important Introduction</h3>
  <p>
    1.1 These terms and conditions are effective immediately for users
    registering TrailSteps accounts after the date of last update hereinabove
    and will become effective 30 days after said date for pre-existing users.
    These are the website terms and conditions ("Terms"), which apply to the use
    by end users of the TrailSteps website (www.trailsteps.com), hereinafter
    referred to as the “Site”, owned and operated by the Delaware Corporation
    Hubstir LLC, hereinafter referred to as “TrailSteps” or “we”, “us” or “our”.
  </p>
  <p>
    1.2 By accessing the Site you agree to be bound by: (i) the Terms; and (ii)
    the TrailSteps Privacy Policy, which is found on the Site and incorporated
    herein be reference. If you do not agree to the Terms or the TrailSteps
    Privacy Policy you are not entitled to enter the Site.
  </p>
  <p>
    1.3 The Terms constitute an agreement between us and contain the entire
    terms of your use of the Site and all matters which are referred to herein.
    The Terms supersede any prior written or oral agreement between us relating
    to such matters. We may change the Terms from time to time in our sole
    discretion and your continued use of the Site following the effective date
    hereinabove means you agree to be bound by such changes. You agree that
    notices we may provide on the Site itself shall be deemed reasonable notice
    for this purpose. It is your responsibility to check periodically for any
    changes we may make to the Terms. Nothing in the Terms shall be deemed to
    confer any third-party rights or benefits.
  </p>
  <p>
    1.4 You confirm that, in agreeing to accept the Terms, you have not relied
    on any representation that is not expressly included in the Terms. You may
    only use the Site for your personal and non-commercial use.
  </p>
  <p>
    1.5 The Site is controlled and offered by Trailsteps from its facilities in
    the United States of America. Those who access or use the Site for other
    jurisdictions do so at their own volition and are responsible for compliance
    with local law.
  </p>

  <h3 class="ion-text-left">2. Grant of License</h3>
  <p>
    This Agreement provides you with a personal, revocable, non-exclusive,
    non-transferable license to use as end-user the Site subject to your
    continued compliance with the Terms. You may print and download materials
    and information on the Site solely for personal and non-commercial use,
    provided that all hard copies contain all copyright and other applicable
    notices contained in such materials and information. Except as otherwise
    expressly permitted herein, you may not modify, copy, distribute, broadcast,
    transmit, reproduce, publish, license, transfer, sell, scrape, mirror,
    frame, or otherwise use any information or material obtained from or through
    the Site. As a further condition of use of the Site, you warrant to
    TrailSteps that you will not use the Site for any purpose that is unlawful,
    prohibited by any applicable regulation or is otherwise inconsistent with
    the Terms.
  </p>

  <h3 class="ion-text-left">3. User accounts</h3>
  <p>
    3.1 In order to use some parts of the Site, you may need to create an
    account. You must never use the account of another user without obtaining
    their prior consent. You must provide full and accurate information when you
    create your account with us. You are solely responsible for the activity
    that occurs on your account, and so we suggest that you keep your account
    password secure. You must notify us immediately if you are aware of any
    unauthorized use of your account.
  </p>

  <p>
    3.2 When joining TrailSteps via a user account you will be asked to create
    an account which you can do via a number of social network accounts or with
    an email address and secure password. When logging in or creating an account
    via a social network a TrailSteps appointed supplier will ask the nominated
    application for permission to access selected data, which enables the
    service to work. This data is stored by TrailSteps against your profile.
    When you login to the Site using social networks the application will check
    for any changes to your personal information stored by the Site and update
    your Site profile accordingly. If you choose to delete your Site account all
    your data is deleted from the Site immediately.
  </p>

  <p>
    3.3 Please review the TrailSteps Privacy Policy for details of the
    management of other collection of personal data.
  </p>

  <h3 class="ion-text-left">4. User submissions</h3>
  <p>
    4.1 We may now or in the future allow the submission to the Site of
    photographic materialand/or other communications by users of the Site
    (collectively "User Submissions"). User Submissions must comply at all times
    with the Terms and with any separate terms and conditions relating to such
    User Submissions that we may publish on the Site from time to time.
  </p>

  <p>
    4.2 As a specific User Submission a review is your description of the
    experience you had with friends, family or on your own at a restaurant,
    event, bar, venue, attraction or exhibition. We encourage reviews that are
    informative, entertaining and helpful for others and an explanation of what
    you enjoyed or didn’t. By submitting a review to the Site you agree that the
    review is based on your own experience and is your genuine opinion, that you
    have no personal or business relationship with what you are reviewing and
    have not been offered any incentive or payment to write your review. You
    agree that you understand that the Site has a zero-tolerance policy on fake
    reviews.
  </p>

  <p>
    4.3 By submitting User Submissions to the Site you hereby grant: (a) to
    TrailSteps a worldwide, royalty-free, perpetual, transferable, irrevocable,
    non-exclusive license and right to use, reproduce, share, copy, modify,
    publish, edit, translate, reformat, host, aggregate, distribute, perform,
    and display the User Submission alone or as part of other works in any form,
    media, or technology whether now known or hereafter developed without
    territorial or time limitations, and to sublicense such rights through
    multiple tiers of sub-licensees.; and (b) to each user of the Site, an
    irrevocable, perpetual, worldwide, non-exclusive, royalty-free, license to
    access the User Submissions through the Site.
  </p>

  <p>
    4.4 By submitting User Submissions to the Site you warrant, represent and
    undertake to us that you have full power and authority to grant the rights
    and licenses relating to the User Submissions set out in this Agreement and
    the User Submissions you submit:
    <br /><br />
    (i) do not infringe any third party's intellectual property rights
    (including without limitation copyright and/or trademarks), other
    proprietary rights or rights of publicity or privacy;
    <br /><br />
    (ii) do not violate any law, statute, ordinance or regulation;
    <br /><br />
    (iii) are not defamatory, libellous, unlawfully threatening or unlawfully
    harassing;
    <br /><br />
    (iv) are not obscene or pornographic;
    <br /><br />
    (v) do not violate any laws regarding unfair competition,
    anti-discrimination or false advertising;
    <br /><br />
    (vi) do not include e-mail addresses, URLs or phone numbers or any other
    Personal Identifiable Information; and
    <br /><br />
    (vii) are not a report of someone else's experience.
  </p>

  <p>
    4.5 TrailSteps users like you rely on both our reviews and other users
    reviews when looking for inspiration and how to get the best out of the
    city. Helpful reviews should be:
    <br /><br />
    a) user-friendly - not contain any profanity, threats, prejudiced comments,
    hate speech, sexually explicit language, or other content that is not
    appropriate for other users;
    <br /><br />b) those that detail first-hand experiences; <br /><br />c)
    unique and independent - you should write one review on any given event,
    restaurant, or attraction; <br /><br />d) original - no substantially quoted
    material from other sources, including (but not limited to) websites, e-mail
    correspondence, other reviews, etc; <br /><br />e) non-commercial - no
    promotional material of any kind, including self-promotional URLs (we
    reserve the right to reject any URL, e-mail address, or phone number for any
    reason); <br /><br />f) submitted by persons over the age of 13;
    <br /><br />g) submitted with a valid e-mail address; and h) submitted with
    no HTML tags and no excessive ALL CAPS, slang, or typographic symbols.
  </p>

  <p>
    4.6 We do not endorse any User Submission or any opinion, recommen-dation,
    or advice expressed therein, and we expressly disclaim any and all liability
    in connection with User Submissions.
  </p>

  <p>
    4.7 We do not permit copyright infringing activities or any infringement of
    any other intellectual property rights on the Site. We reserve the right to
    remove the User Submissions without notice for any reason in our absolute
    discretion, including, without limitation, breach of the Terms and/or breach
    of any intellectual property rights.
  </p>

  <p>
    4.8 We allow the management or representatives of events, venues,
    restaurants or attractions to respond to reviews written by users on the
    Site and these should be identified by your user account. We reserve the
    right to remove a review or management response at any time for any reason.
  </p>

  <p>
    4.9 If you believe any of the User Submissions on the Site are inaccurate,
    offensive, indecent, objectionable or infringe any intellectual property
    rights please contact us at <b>team@trailsteps.com</b>.
  </p>

  <p>
    4.10 You acknowledge that when using the Site, you may be exposed to User
    Submissions from a variety of sources, and that we are not responsible for
    the accuracy, usefulness, safety, or intellectual property rights of or
    relating to such User Submissions. You further understand and acknowledge
    that you may be exposed to User Submissions that are inaccurate, offensive,
    indecent, or objectionable, and you agree to waive, and hereby do waive, any
    legal or equitable rights or remedies you have or may have against us with
    respect thereto.
  </p>

  <p>
    4.11 We encourage you to share your opinion about any feature or review on
    the Site written by us or by one of our users. We appreciate comments that
    are your view of another’s opinion and are constructive - be that agreeing
    or disagreeing.
  </p>

  <h3 class="ion-text-left">5. Communications and Electronic Signatures</h3>
  <p>
    You agree to accept all communications from TrailSteps regarding use of the
    Site at the addresses you provide to TrailSteps. TrailSteps is entitled to
    rely on the e-mail address and mailing address that you last provided to us.
    You agree to waive all claims resulting from failure to receive
    communications because of changes in your e-mail address or mailing address
    not communicated to TrailSteps. You agree to be bound by any affirmance,
    assent or agreement you transmit through the Site. You agree that, when in
    the future you visit the Site, your agreement or consent to these Terms will
    be legally binding and enforceable and will be the legal equivalent of your
    handwritten signature.
  </p>

  <h3 class="ion-text-left">6. Intellectual Property Rights</h3>
  <p>
    6.1 All material contained on this Site, unless otherwise indicated, is
    protected by law to the fullest extent possible including, but not limited
    to, United States copyright, trade secret, and trademark law, as well as
    other state, national, and international laws and regulations. Except as
    expressly provided for in this Agreement, nothing contained on the Site
    shall be construed as granting a license or other rights to you in any
    intellectual property of TrailSteps or any third party.
  </p>

  <p>
    6.2 Copyright, trademark, and other proprietary rights in the Site, or
    portions thereof, may be held by third parties. Such third-party
    intellectual property rights may not be used without the prior written
    permission of their respective owners. Removing or altering the copyright
    notice and any other proprietary notice on any material on this Site is
    strictly prohibited.
  </p>

  <h3 class="ion-text-left">7. Privacy Policy</h3>
  <p>
    Please see the TrailSteps Privacy Policy for a summary of our practices
    regarding the collection and use of non-public personal information.
    Acceptance of the Terms constitutes consent to the terms, covenants,
    conditions, and provisions of the TrailSteps Privacy Policy.
  </p>

  <h3 class="ion-text-left">8. Code of Conduct</h3>
  <p>
    You may not, nor may you allow others to, directly or indirectly, do any of
    the following:
    <br /><br />
    (a) Attempt to or actually disrupt, impair or interfere with the operation
    of, alter or modify the Site or any content thereof. This includes, without
    limitation, interfering with, defeating, or circumventing any security
    function of the Site, or attempting to do so.
    <br /><br />
    (b) Collect or attempt to collect any information about others, including,
    but not limited to passwords, account or other information.
    <br /><br />
    (c) Restrict or inhibit any other authorized user from using and enjoying
    the Site. This includes, without limitation
    <br /><br />
    <span class="ion-padding-start">
      (i) using, or attempting to use, any account without the user’s
      permission; and
    </span>
    <br /><br />
    <span class="ion-padding-start">
      (ii) obtaining or soliciting another user’s password or other personal
      information under false pretences.
    </span>
    <br /><br />
    (d) Post, store, or transmit any knowingly inaccurate or misleading personal
    information.
    <br /><br />
    (e) Post, store, or transmit any unlawful, threatening, defamatory, obscene,
    inflammatory, pornographic, profane, or otherwise objectionable (as
    determined by TrailSteps) information or material.
    <br /><br />
    (f) Post, store, or transmit any information or material that could
    constitute or encourage conduct that would be considered a criminal offense,
    give rise to civil liability, or otherwise violate any law.
    <br /><br />
    (g) Post, store, or transmit any information or software that contains a
    virus, worm, Trojan horse, or other harmful or disruptive component.
    <br /><br />
    (h) Except as expressly permitted herein or on the Site, modify, adapt,
    sublicense, translate, resell, retransmit, reverse engineer, decompile or
    disassemble any portion of the Site.
    <br /><br />
    (i) Post, store, or transmit materials in violation of a third party’s
    copyright or other intellectual property contractual or proprietary rights.
    You are solely responsible for determining whether any material you post,
    store, or transmit is subject to a third party’s rights.
    <br /><br />
    (j) Use the Site for any unlawful purpose.
    <br /><br />
  </p>

  <h3 class="ion-text-left">9. Assumption of Risk</h3>
  <p>
    Use of the Internet and the Site is solely at your own risk and is subject
    to all applicable local, state, national, and international laws and
    regulations. While TrailSteps has endeavored to create a secure and reliable
    Site, please be advised that the confidentiality of any communication or
    material transmitted to/from the Site over the Internet cannot be
    guaranteed. Accordingly, TrailSteps and its employees, agents, directors,
    officers, proprietors, partners, representatives, shareholders, attorneys,
    predecessors, successors, and assigns are not responsible for the security
    of any information transmitted via the Internet. You assume sole and
    complete risk for using the Site and must make your own determination as to
    these matters.
  </p>

  <h3 class="ion-text-left">10. Law Enforcement</h3>
  <p>
    TrailSteps reserves the right to view, monitor, and record activity on the
    Site without notice or permission from you. Any information obtained by
    monitoring, reviewing, or recording is subject to review by law enforcement
    organizations in connection with investigation or prosecution of possible
    criminal activity on the Site. TrailSteps will also comply with all court
    orders involving requests for such information.
  </p>

  <h3 class="ion-text-left">11. Links to Other Sites</h3>
  <p>
    TrailSteps may offer links to third-party websites that may offer various
    products, services, and/or information. Users should be aware that use of
    these third-party websites may be subject to separate terms and conditions,
    information collection practices, and other provisions. We cannot ensure
    that users will be satisfied with any products or services offered and/or
    purchased from such third-party websites. TrailSteps does not endorse any of
    the products or services offered in any third-party websites. Furthermore,
    TrailSteps has not taken any steps to confirm the correctness, accuracy, or
    reliability of any information contained in any third-party web sites.
    Before proceeding with any transaction with any third-party website, whether
    the transaction is on-line or off-line, it shall be your sole responsibility
    to conduct whatever investigation you deem necessary and appropriate.
  </p>

  <h3 class="ion-text-left">12. Events Beyond the Control of TrailStep</h3>
  <p>
    You expressly absolve and release TrailSteps from any claim of harm
    resulting from a cause beyond the control of TrailSteps including, but not
    limited to, failure of electronic or mechanical equipment or communication
    lines, telephone or other interconnect problems, computer viruses,
    unauthorized access, theft, operator errors, severe weather, earthquakes,
    natural disasters, strikes or other labor problems, wars, terrorism, or
    governmental restrictions.
  </p>

  <h3 class="ion-text-left">13. DISCLAIMERS</h3>
  <p class="ion-text-uppercase">
    WHILE TRAILSTEPS ENDEAVORS TO PROVIDE ACCURATE AND TIMELY INFORMATION, THE
    INFORMATION AVAILABLE ON THIS SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL
    ERRORS. MOREOVER, TRAILSTEPS MAY MAKE MODIFICATIONS AND/OR CHANGES IN THE
    SITE OR IN THE INFORMATION AVAILABLE ON THE SITE AT ANY TIME, FOR ANY
    REASON. YOU, THE USER, ASSUME THE SOLE RISK OF MAKING USE OF, AND/OR RELYING
    ON, THE INFORMATION AVAILABLE ON OR THROUGH THE SITE. TRAILSTEPS MAKES NO
    REPRESENTATIONS ABOUT THE SUITABILITY, COMPLETENESS, TIMELINESS,
    RELIABILITY, LEGALITY IN YOUR JURISDICTION, OR ACCURACY OF THE INFORMATION
    AVAILABLE ON OR THROUGH THE SITE FOR ANY PURPOSE. SUCH INFORMATION IS
    PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY
    KIND, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.
  </p>

  <h3 class="ion-text-left">14. Limitation of Liability</h3>
  <p class="ion-text-uppercase">
    TO THE EXTENT PERMITTED BY LAW, TRAILSTEPS SHALL NOT BE LIABLE FOR ANY
    DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES
    ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SITE, ANY DELAY
    OR INABILITY TO USE THE SITE, ANY DELAY OR INABILITY TO ACCESS YOUR ACCOUNT,
    UNAUTHORIZED USE OR MISUSE OF YOUR ACCOUNT, ANY INFORMATION AVAILABLE ON THE
    SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED IN
    CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF TRAILSTEPS HAS BEEN
    ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME JURISDICTIONS DO
    NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CERTAIN TYPES OF
    DAMAGES SUCH AS CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION
    MAY NOT APPLY TO YOU. IN SUCH JURISDICTIONS, TRAILSTEP’S ENTIRE LIABILITY
    AND YOUR EXCLUSIVE REMEDY WITH RESPECT TO YOUR USE OF THIS SITE SHALL BE
    LIMITED TO THE EXTENT PERMITTED BY LAW.
  </p>

  <h3 class="ion-text-left">15. Indemnity</h3>
  <p>
    You agree to defend, indemnify, and hold harmless TrailSteps and its
    affiliates and all of their employees, agents, directors, officers,
    proprietors, partners, representatives, shareholders, attorneys,
    predecessors, successors, and assigns, from and against any and all claims,
    proceedings, damages, injuries, liabilities, losses, costs, and expenses
    (including reasonable attorneys’ fees and litigation expenses), relating to
    or arising from:
    <br /><br />
    (i) your use of and access to the Site;
    <br /><br />
    (ii) any breach by you of this Agreement;
    <br /><br />
    (iii) your violation of any third-party right, including, without
    limitation, any copyright, property or privacy right; and
    <br /><br />
    (iv) any claim that your content caused damage to a thirty-party.
    <br /><br />
    This defense and indemnification obligation will survive the Terms and your
    use of the Site. You shall not in any event settle any matter without the
    prior written consent of TrailSteps to be withheld at TrailSteps’s sole
    discretion.
  </p>

  <h3 class="ion-text-left">16. Site Access and Termination</h3>
  <p>
    The Site is controlled and operated by TrailSteps from its offices within
    the United States. TrailSteps makes no representation that materials in the
    Site are appropriate or available for use in other locations, and access to
    them from territories where any of the contents of this Site are illegal is
    prohibited. Those who choose to access this Site from other locations do so
    of their own volition and are responsible for compliance with applicable
    local laws. TrailSteps reserves the right at any time and for any reason to
    deny you access to the Site and to terminate this Agreement.
  </p>

  <h3 class="ion-text-left">17. Submissions</h3>
  <p>
    Any ideas, suggestions, information, know-how, material, or any other
    content (collectively, “Content”) received through the Site will be deemed
    to include a worldwide, royalty-free, perpetual, irrevocable, nonexclusive
    right and license for TrailSteps to adopt, publish, reproduce, disseminate,
    transmit, distribute, copy, use, create derivative works, display, (in whole
    or part), or otherwise act on such Content without additional approval or
    consideration, in any form, media, or technology now known or later
    developed for the full term of any rights that may exist in such Content,
    and you hereby waive any claim to the contrary.
  </p>

  <h3 class="ion-text-left">18. Governing Law</h3>
  <p>
    This Agreement has been made in, and will be construed and enforced in
    accordance with the laws of the State of New York without respect to its
    conflict of laws principles. Any action to enforce this Agreement will be
    brought in the federal or state courts presiding in New York, and all
    parties to this Agreement expressly agree to be subject to the jurisdiction
    of such courts. You agree that the Site shall be deemed a passive website
    that does not give rise to personal jurisdiction over TrailSteps, either
    specific or general, in jurisdictions other than New York.
  </p>

  <h3 class="ion-text-left">20. Waiver</h3>
  <p>
    Failure to insist on strict performance of any of the Terms will not operate
    as a waiver of any subsequent default or failure of performance. No waiver
    by TrailSteps of any right under the Terms will be deemed to be either a
    waiver of any other right or provision or a waiver of that same right or
    provision at any other time.
  </p>

  <h3 class="ion-text-left">21. Severability</h3>
  <p>
    If any provision of the Terms shall be deemed unlawful, void or for any
    reason unenforceable, then that provision shall be deemed to be severable
    from the Terms and will be deemed superseded by a valid, enforceable
    provision that most clearly matches the intent of the original provision,
    and the remainder of the Terms shall continue in effect.
  </p>

  <h3 class="ion-text-left">22. Relationship</h3>
  <p>
    No joint venture, partnership, employment, or agency relationship exists
    between you and TrailSteps as a result of this Agreement or your use of the
    Site.
  </p>

  <h3 class="ion-text-left">23. Entire Agreement</h3>
  <p>
    The Terms, together with the TrailSteps Privacy Policy represent the entire
    agreement between you and TrailSteps with respect to use of and material
    available on or through the Site, and supersede all prior or contemporaneous
    communications and proposals, whether electronic, oral, or written between
    you and TrailSteps with respect to the Site. Any rights not expressly
    granted herein are expressly reserved.
  </p>
</ion-content>
