@import "../../../../../theme/variables.scss";

:host {
    .welcome-button-view {
        margin-top: 40px;

        .app-button {
            --border-width: 3px;
            --border-style: solid;
            --border-radius: 18px;

            &::part(native) {
                border: 3px solid $color-white;
                border-radius: 18px;

                font-family: $font-family-base;
                font-weight: $font-weight-bold;
                font-size: 17px;
                line-height: 20px;
                letter-spacing: 1.17;
                text-align: center;
                color: $color-white;
            }

            &.button-clear {
                --color: #0A9FA3 !important;

                &::part(native) {
                    color: $color-heading-note-text;
                }
            }
        }
    }
}