<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon
          slot="icon-only"
          class="back-button-has-icon-only"
          name="chevron-back-outline"
        ></ion-icon>
        <!-- <ion-back-button></ion-back-button> -->
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col
        size-xl="3"
        offset-xl="4.5"
        size-lg="4"
        offset-lg="4"
        size-md="6"
        offset-md="3"
      >
        <app-content-header-view
          [title]="'Reset Password'"
          [subTitle]="
            'You’ve requested a new a password. Please enter a new password below'
          "
        >
        </app-content-header-view>
        <form
          novalidate
          [formGroup]="loginForm"
          (ngSubmit)="submitVerifyResetCode()"
        >
          <ion-list class="basic-form">
            <app-trail-input
              #oldpwd
              label="Old Password"
              type="password"
              name="oldPassword"
              autocomplete="off"
              tabindex="4"
              minlength="8"
              required
              formControlName="oldPassword"
            ></app-trail-input>
            <div
              *ngIf="
                (f.oldPassword?.dirty || f.oldPassword?.touched) &&
                f.oldPassword?.invalid &&
                f.oldPassword.errors
              "
            >
              <div class="mat-error" *ngIf="f.oldPassword?.errors?.required">
                Password is required.
              </div>
              <div class="mat-error" *ngIf="f.oldPassword?.errors?.minlength">
                Password must be at least 6 characters length.
              </div>
              <div class="mat-error" *ngIf="f.oldPassword?.errors?.pattern">
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </div>
            </div>
            <app-trail-input
              #pwd
              label="New Password"
              type="password"
              name="newPassword"
              autocomplete="off"
              tabindex="4"
              minlength="8"
              required
              formControlName="newPassword"
            ></app-trail-input>
            <div
              *ngIf="
                (f.newPassword?.dirty || f.newPassword?.touched) &&
                f.newPassword?.invalid &&
                f.newPassword.errors
              "
            >
              <div class="mat-error" *ngIf="f.newPassword?.errors?.required">
                Password is required.
              </div>
              <div class="mat-error" *ngIf="f.newPassword?.errors?.minlength">
                Password must be at least 6 characters length.
              </div>
              <div class="mat-error" *ngIf="f.newPassword?.errors?.pattern">
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </div>
            </div>
            <app-trail-input
              #pwd
              label="Confirm Password"
              type="password"
              name="confirmPassword"
              autocomplete="off"
              tabindex="4"
              minlength="8"
              required
              formControlName="confirmPassword"
            ></app-trail-input>
            <div
              *ngIf="
                (f.confirmPassword?.dirty || f.confirmPassword?.touched) &&
                f.confirmPassword?.invalid &&
                f.confirmPassword.errors
              "
            >
              <div
                class="mat-error"
                *ngIf="f.confirmPassword?.errors?.required"
              >
                Confirm Password is required.
              </div>
              <div
                class="mat-error"
                *ngIf="f.confirmPassword?.errors?.minlength"
              >
                Confirm Password must be at least 6 characters length.
              </div>
              <div class="mat-error" *ngIf="f.confirmPassword?.errors?.pattern">
                Invalid Password. 1 lowercase letter, 1 uppercase letter, at
                least 1 number, at least 6 characters
              </div>
            </div>
            <div class="welcome-button-view">
              <app-trail-button label="Update" type="submit"></app-trail-button>
              <app-trail-button
                fill="clear"
                label="Cancel"
                (click)="back()"
              ></app-trail-button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
