@import "../../../../../../theme/variables.scss";

:host {
    ion-content {
        --overflow: hidden;
    }

    .notification-view {
        box-shadow: none;
        height: auto;
        padding: 16px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .custom-card-view {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .custom-card-status {
            text-align: center;
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.29px;
            color: $color-heading-text;
        }

        .custom-card-status-note {
            text-align: center;
            font-family: $font-family-base;
            font-weight: $font-weight-base;
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $color-heading-text;

            margin-top: 10px;
        }
    }
}