:host {
  ion-header {
    box-shadow: 0px 2px 4px #0a9fa309;
  }

  ion-fab {
    &.iosFix {
      bottom: calc(64px + var(--ion-safe-area-bottom, 0px));
    }
  }

  .trail-add-button {
    &::part(native) {
      box-shadow: 0px 6px 10px #3fb5c186;
    }
  }

  ion-refresher {
    z-index: 1;
  }
}
