<ion-list class="list-filters">
  <ion-grid>
    <ion-row [class]="isBetweenClass? 'ion-justify-content-between' : ''">
      <ion-col [size]="size" *ngFor="let item of items">
        <ion-button 
          [class]="(value?.indexOf(item.id) + 1) ? 'round-activate' : 'round'" 
          size="small" shape="round" fill="fill" 
          [style.font-size]="fontSize"
          (click)="changeFilter(item.id)">{{item.label}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
