@import '../../../../theme/variables.scss';

:host {
  .list-filters {
    .round, .round-activate {
      --background-activated: #404040;
      width: 100%;
      font-size: 17px;
    }

    .round {
      color: #404040;
      --background: #f2f2f2;
    }

    .round-activate {
      color: #f2f2f2;
      --background: #404040;
    }
  }
}