 <ion-header class="app-padding-header ion-no-border">
    <ion-toolbar>
      <ion-title>&nbsp;</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding-left ion-padding-right">
  <app-content-header-view
    [title]="'Mentioned in'"
    [subTitle]="'This destination has been mentioned in the following'"
  ></app-content-header-view>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <app-trail-badge
          [label]="item.name"
          state="active"
          *ngFor="let item of mentionedIn"
        ></app-trail-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-border ion-padding">
    <app-trail-button label="Next"></app-trail-button>
  </ion-toolbar>
</ion-footer>
