@import '../../../../../theme/variables.scss';

:host {
  ion-header {
    box-shadow: 0px 2px 4px #0a9fa309;
  }

  .segment-toolbar {
    padding-left: 16px;
    padding-right: 16px;
    --padding-bottom: 0 !important;

    .segment-toolbar-button {
      --indicator-height: 3px;

      ion-label {
        font-family: $font-family-base;
        font-weight: $font-weight-medium;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.42px;

        text-transform: none !important;

        /* iPhone 5  / SE*/
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0px;
        }
      }
    }
  }
}
