<ion-item class="trail-places-item">
  <div slot="start" class="slot-start">
    <ion-thumbnail>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
  </div>
  <ion-label class="ion-text-wrap">
    <h3>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </h3>
    <h2>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </h2>
    <p>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </p>
    <div class="review-view">
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </div>
  </ion-label>
</ion-item>
