<ion-content class="ion-padding">
    <div class="notification-view">
        <div class="custom-card-view">
            <img src="./assets/svg/Checkmark.svg" />
        </div>
        <ion-card-content>
            <h2 class="custom-card-status">
                Awesome!
            </h2>
            <p class="custom-card-status-note">
                You have successfully created a trail!
            </p>
        </ion-card-content>
    </div>

    <app-trail-button label="Okay" (click)="dismiss()"></app-trail-button>
</ion-content>