@import '../../../../../../theme/variables.scss';

:host {
  .round, .round-activate {
    --background-activated: #ebb296;
    width: 100%;
    height: 50px;
    font-size: 17px;
  }

  .round {
    color: #4d4747;
    --background: #f2f2f2;
  }

  .round-activate {
    color: #f2f2f2;
    --background: #ebb296;
  }
}
