@import '../../../../theme/variables.scss';

:host {
  ion-footer {
    ion-toolbar {
      --padding-start: 16px;
      --padding-end: 16px;
    }
  }

  ion-list {
    ion-item-divider {
      --padding-start: 0px;
      --background: var(--ion-color-white);
      padding-bottom: 10px;
      padding-top: 13px;

      ion-label {
        font-family: $font-family-base !important;
        font-weight: $font-weight-base;
        font-size: 15px !important;
        line-height: 20px;
        letter-spacing: 0px;
        color: $color-heading-note-text !important;
      }

      ion-icon {
        color: $color-header-icon;
      }
    }
  }

  .filter-item-checkbox {
    --background-activated: $color-white;
    --background-focused: $color-white;

    ion-label {
      font-family: $font-family-base !important;
      font-weight: $font-weight-base;
      font-size: 15px !important;
      line-height: 20px;
      letter-spacing: 0px;
      color: $color-heading-note-text !important;
    }

    ion-checkbox {
      &::part(container) {
        border: none;
        border-color: transparent;
        background: transparent;
      }

      &::part(mark) {
        stroke: rgb(255, 201, 64);
      }
    }
  }
}