<ion-card class="card-map">
  <!-- <google-map [options]="mapOptions" [center]="mapCenter" [width]="'100%'">
    <ng-container *ngIf="enableCurrentLocationMarker">
      <map-marker [position]="currentLocation" [options]="markerOptions">
      </map-marker>
    </ng-container>
    <ng-container *ngIf="mapMarkers && mapMarkers.length > 0">
      <map-marker
        *ngFor="let marker of mapMarkers"
        [position]="marker.markerPosition"
        [options]="marker.markerOptions"
      ></map-marker>
      <ng-container *ngIf="enableRouting">
        <map-polyline
          [path]="mapVertices"
          [options]="mapVerticesOptions"
        ></map-polyline>
      </ng-container>
    </ng-container>
  </google-map> -->
</ion-card>
