<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon
          slot="icon-only"
          class="back-button-has-icon-only"
          name="chevron-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding-top">
  <div id="open-layer-map" class="map map-container"></div>
  <ion-card class="card-map-location">
    <ion-card-header>
      <ion-toolbar class="ion-no-border" mode="md">
        <div slot="start">
          <ion-title>
            <ion-icon
              class="back-button-has-icon-only"
              name="location"
            ></ion-icon>
            Location
          </ion-title>
        </div>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()" fill="clear" color="royal">
            Close
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-list class="basic-form">
      <app-trail-input
        label="Address"
        type="text"
        name="feedbackMessage"
        autocomplete="off"
        placeholder="Your location"
        maxlength="60"
        [inputValue]="locationAddress"
        [(ngModel)]="locationAddress"
        readonly="true"
        (click)="onChangeLocation()"
      >
      </app-trail-input>
    </ion-list>
    <div class="ion-padding">
      <app-trail-button
        label="Update"
        (click)="updateLocation()"
      ></app-trail-button>
    </div>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" style="z-index: 9999;">
    <ion-fab-button color="warning2" (click)="getGeolocation()">
      <ion-icon name="locate-outline" *ngIf="!isLocating"></ion-icon>
      <ion-spinner *ngIf="isLocating"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
</ion-content>
